@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

a {
    text-decoration: none;
    color: azure;
    font-family: 'Jua', sans-serif;
}

a:hover {
    color: yellow;
}

nav ul {
    list-style: none;
    background-color: black;
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.frame {
    font-family: 'Jua', sans-serif;
    border: 1px solid darkblue;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 5px;
}

th {
    color: darkblue;
}